@import 'react-toastify/dist/ReactToastify.css';
@import 'react-phone-number-input/style.css';

* {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif !important;
  margin: 0;
  padding: 0;
  height: 100vh;
}

.common-row {
  flex-direction: row;
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.common-column {
  flex-direction: column;
  display: flex;
}
.common-image {
  max-width: 100%;
}
.common-stack {
  position: relative;
  flex-wrap: wrap;
}
.common-list {
  display: grid;
}
.common-grid {
  display: grid;
  flex-flow: row wrap;
  min-height: auto;
}
.common-button {
  cursor: pointer;
  outline: none;
}
.common-floating-button {
  cursor: pointer;
  outline: none;
  position: fixed !important;
}
.common-pointer {
  cursor: pointer;
}

table {
  border-spacing: 0;
}
.react-datepicker-popper {
  z-index: 100000 !important;
}
.drawable-icon{
  position: absolute;
  margin: auto;
  z-index: 1000;
}
.input-wrap{
  position: relative;
}
option{
  color: #000;
}
.table-wrap{
  overflow: auto;
}
input:focus{
  outline:none;
}
.ReactModal__Body--open{
  overflow: hidden;
}

.modal-overlay {
  background: rgba(0,0,0,0.5);
}

.slider-indicator:first-child {
    margin-left: 0;
}

.slider-indicator:last-child {
margin-right: 0;
}

/* moved from tailwind */
.react-datepicker-wrapper .react-datepicker__input-container input{
  background-color: transparent;
  border: none;
  width: 100%;
  padding: 0px;
}
.react-datepicker__day.react-datepicker__day--keyboard-selected {
  background: none;
  color: black;
}
input:focus, textarea:focus{
  outline:none !important;
  outline-offset: 0 !important;
  --tw-ring-offset-width:none !important;
}

li:focus-visible{
  outline: none;
}

li:hover{
  cursor: pointer;
}

.tab-panel--selected { animation-name: tabPanel; animation-duration: 300ms; animation-timing-function: linear; }
@keyframes tabPanel { from { opacity: 0; } to { opacity: 1; } }
/* Input style */
.input-container {
  position: relative;
  display: flex;
  flex-direction: column;
}

.input-container label {
  position: absolute;
  transform-origin: top left;
  transition: 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
}

.input-container input {
  transition: 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
}

.PhoneInputInput {
  border-width: 0;
}

.PhoneInputCountry {
  margin-left: var(--PhoneInputCountrySelect-marginRight);
}

@media (min-width: 0px) {
  .xs:flex-row {
    flex-direction: row;
  }
}

@media (min-width: 769px) {
  .md:block {
    display: block;
  }
}



  
